<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to Only-Bands!</h1>
  <p>Don't lose your edge! Come inside and shout out your all-time-favs, we hear you know every good song ever done by anybody!</p>
</main>

<%- include('./partials/footer') %>
